<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/STYLES/main.css">
    <link rel="shortcut icon" href="assets/flipkartfavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <%- include('../template_pages/basic_template.ejs') -%>
        <hr>

        <section class="topProductNavbar">


            <div class='topProductNavbar_Nav'>
                <a href="/appliances">
                    <div class="item-content">
                        <img src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/0139228b2f7eb413.jpg?q=100">
                        <p>Appliances <i class="fas fa-caret-down"></i></p>
                    </div>
                </a>
                <div class="dropdown">
                    <div class="dropdown-content">
                        <a href="/ac">AC</a>
                        <a href="/fridge">Fridge</a>
                        <a href="/tv">TV</a>
                        <a href="/wm">Washing Machine</a>
                    </div>
                </div>
            </div>


            <div class='topProductNavbar_Nav'>
                <a href="/beauty">
                    <div class="item-content">
                        <img src="https://rukminim2.flixcart.com/flap/64/64/image/dff3f7adcf3a90c6.png?q=100">
                        <p>Beauty & More</p>
                    </div>
                </a>
            </div>


            <div class='topProductNavbar_Nav'>
                <a href="/Electronics">
                    <div class="item-content">
                        <img src="https://rukminim2.flixcart.com/flap/64/64/image/69c6589653afdb9a.png?q=100">
                        <p>Electronics <i class="fas fa-caret-down"></i></p>
                    </div>
                </a>
                <div class="dropdown">
                    <div class="dropdown-content">
                        <a href="/camera">camera</a>
                        <a href="/headphone">headphones</a>
                        <a href="/laptops">laptops</a>
                        <a href="/printer">printer</a>
                        <a href="/speaker">speaker</a>
                    </div>
                </div>
            </div>


            <div class='topProductNavbar_Nav'>
                <a href="/Fashion">
                    <div class="item-content">
                        <img src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/0d75b34f7d8fbcb3.png?q=100">
                        <p>Fashion <i class="fas fa-caret-down"></i></p>
                    </div>
                </a>

                <div class="dropdown">
                    <div class="dropdown-content">
                        <a href="/kids">Kids</a>
                        <a href="/men_fashion">Men's</a>
                        <a href="/women_fashion">Women's</a>
                    </div>
                </div>
            </div>



            <div class='topProductNavbar_Nav'>
                <a href="/Grocery">
                    <div class="item-content">
                        <img src="https://rukminim2.flixcart.com/flap/64/64/image/29327f40e9c4d26b.png?q=100">
                        <p>Grocery <i class="fas fa-caret-down"></i></p>
                    </div>
                </a>
                <div class="dropdown">
                    <div class="dropdown-content">
                        <a href="#">Fruits & Vegetables</a>
                        <a href="#">Dairy</a>
                        <a href="#">Grains</a>
                        <a href="#">Beverages</a>
                    </div>
                </div>
            </div>


            <div class='topProductNavbar_Nav'>
                <a href="/furniture">
                    <div class="item-content">
                        <img src="https://rukminim2.flixcart.com/flap/64/64/image/ab7e2b022a4587dd.jpg?q=100">
                        <p>Home & Furniture</p>
                    </div>
                </a>

            </div>


            <div class='topProductNavbar_Nav'>
                <a href="/Mobile">
                    <div class="item-content">
                        <img src="https://rukminim2.flixcart.com/flap/64/64/image/22fddf3c7da4c4f4.png?q=100">
                        <p>Mobile</p>
                    </div>
                </a>
            </div>



        </section>

        <section class="scrollbar">
            <div class="scroll_container">
                <div class="top_panel">
                    <a href="/women_fashion">
                        <div class="scroll">
                            <img class="scroll_img" src="/images/site_requirred/scroll_container/scroll1.jpeg" alt
                                src="bag">
                        </div>
                    </a>
                    <a href="/mobile">
                        <div class="scroll">
                            <img class="scroll_img" src="/images/site_requirred/scroll_container/scroll2.jpeg"
                                alt="bag">
                        </div>
                    </a>

                    <a href="/camera">
                        <div class="scroll">
                            <img class="scroll_img" src="/images/site_requirred/scroll_container/scroll3.jpeg"
                                alt="bag">
                        </div>

                    </a>

                </div>

            </div>
        </section>

        <!-- SCROLL BAR ENDS -->


        <hr style="color: rgba(128, 128, 128, 0.3);">
        <header class="head">
            <div class="header-content">
                <h1>Best Deals</h1>
            </div>
        </header>
        <div class="container_fashion">
            <div class="fashion">
                <div class="container__">
                    <!-- Product 1 -->
                    <%result.forEach(function(item) {%>
                        <% if(item.collection=='best_deals' ){%>
                            <a href="/<%=item.category%>" style="text-decoration: none;color: black;">
                                <div class="product">
                                    <img src="/images/<%=item.image%>" alt="Product 1">
                                    <h3>
                                        <%=item.name%>
                                    </h3>
                                    <% if(item.sale_price){ %>
                                        <div class="price_text_">&#8377<span
                                                style="color: #f9ca16;text-decoration:line-through;;text-decoration-color: aliceblue;"></span>
                                            <%=item.sale_price%></span>
                                                <div class="price_text_"><span
                                                        style="color: #f91616;text-decoration:line-through;">&#8377
                                                        <%=item.price%>
                                                    </span>
                                                </div>
                                        </div>

                                        <%} else{%>

                                            <div class="price_text_">&#8377 <span style="color: #f9ca16;"></span>
                                                <%=item.price%></span>
                                            </div>
                                            <%}%>
                                </div>
                            </a>
                            <!-- Add more products here -->
                            <%}})%>
                </div>
            </div>
        </div>

        <!-- BANNER STARTS -->


        <div class="banner">
            <div class="deal_of_the_day">
                <div class="photo">
                    <img src="images/site_requirred/deal_ofthe_week.png" alt="deal">
                </div>
            </div>
            <div class="detail">
                <div class="text_deal">
                    DEAL OF THE WEEK
                </div>
                <hr>
                <div class="timer">
                    <ul class="timer_ele">
                        <li><span id="days">00</span>DAY</li>
                        <li><span id="hours">00</span>HOURS</li>
                        <li><span class="colon">:</span></li>
                        <li><span id="minutes">00</span>MINUTES</li>
                        <li><span class="colon">:</span></li>
                        <li><span id="sec">00</span>SECONDS</li>
                    </ul>
                </div>
                <form action="/men_fashion" method="post">
                    <div class="shopbtn">
                        <button type="submit" class="shop_btn">SHOP NOW</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- BANNER ENDS -->





        <!-- START OF FURNITURE PRODUCT SECTION -->


        <!-- Start Product Section -->
        <div class="product-section">
            <div class="dbit">
                <div class="aiml">

                    <!-- Start Column 1 -->
                    <div class="col-md-12 col-lg-3 mb-5 mb-lg-0 col-12">
                        <h2 class="mb-4 section-title">Crafted with excellent material.</h2>
                        <p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam
                            vulputate velit imperdiet dolor tempor tristique. </p>
                        <p class="bb"><a href="shop.html" class="btn">Explore</a></p>
                    </div>
                    <!-- End Column 1 -->

                    <%result.forEach(function(item) {%>
                        <% if(item.collection=='best_deals_2' ){%>
                            <!-- Start Column 2 -->
                            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0 col-12">
                                <div class="product-item">
                                    <img src="images/<%=item.image%>" class="img-fluid product-thumbnail">
                                    <h3 class="product-title">Nordic Chair</h3>
                                    <%if(item.sale_price){%>
                                        <strong class="product-price">&#8377<span>
                                                <%=item.sale_price%>
                                            </span></strong><br>
                                        <strong class="product-price">&#8377<span
                                                style="text-decoration: line-through;text-decoration-color: red;">
                                                <%=item.price%>
                                            </span></strong>
                                        <%}else{%>
                                            <strong class="product-price">&#8377<span>
                                                    <%=item.sale_price%>
                                                </span></strong>
                                            <%}%>

                                                <form action="/add_to_cart" method="post">
                                                    <input type="hidden" name="item_id" value="<%=item.product_id%>">
                                                    <span class="icon-cross">
                                                        <input type="image"
                                                            src="images/site_requirred/Furniture/cross.svg"
                                                            class="img-fluid" alt="submit">
                                                    </span>
                                                </form>
                                </div>
                            </div>
                            <%}})%>
                </div>
            </div>
        </div>
        <!-- End OF FURNITURE Product Section -->











        <!-- BEST TRNDING START -->

        <div class="gallery_section layout_padding">
            <div class="container_">
                <h1 class="gallery_taital">Best Trending</h1><br>
            </div>
            <div class="row_top">
                <%result.forEach(function(item) {%>
                    <% if(item.collection=='home_best_trending' ){%>
                        <div class="col-sm-3">
                            <div class="image_1"><img src="images/<%=item.image%>"></div>
                            <% if(item.sale_price){ %>
                                <div class="price_text">&#8377<span
                                        style="color: #f9ca16;text-decoration:line-through;;text-decoration-color: aliceblue;"></span>
                                    <%=item.sale_price%></span>
                                </div>
                                <div class="price_text"><span style="color: #f91616;text-decoration:line-through;">
                                        &#8377 <%=item.price%>
                                    </span>
                                </div>

                                <%} else{%>

                                    <div class="price_text">$<span style="color: #f9ca16;"></span>
                                        <%=item.price%></span>
                                    </div>
                                    <%}%>
                                        <h1 class="shoes_text">
                                            <%=item.name%>
                                        </h1>
                                        <form action="/add_to_cart" method="post">
                                            <div class="boy_bt_1">
                                                <input type="hidden" name="item_id" value="<%=item.product_id%>">
                                                <input class="boy_bt_1" type="submit" value="Buy Now">
                                            </div>
                                        </form>
                        </div>

                        <%}})%>
            </div>
        </div>

        <!-- BEST TRENDING SECTION ENDS -->


        <!--Benifits-->
        <div class="benefits">
            <div class="benefit">
                <div class="container">
                    <div class="row benefit_row">
                        <div class="col-lg-3 benefit_col">
                            <div class="benefit_item d-flex flex-row align-items-center">
                                <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                                <div class="benefit_content">
                                    <h6>FREE SHIPPING</h6>
                                    <p>Suffered Alteration in Some Form</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 benefit_col">
                            <div class="benefit_item d-flex flex-row align-items-center">
                                <div class="benefit_icon"><i class="fa fa-inr" aria-hidden="true"></i></div>
                                <div class="benefit_content">
                                    <h6>CASH ON DELIVERY</h6>
                                    <p>The Internet Tend To Repeat</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 benefit_col">
                            <div class="benefit_item d-flex flex-row align-items-center">
                                <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
                                <div class="benefit_content">
                                    <h6>45 DAYS RETURN</h6>
                                    <p>Making it Look Like Readable</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 benefit_col">
                            <div class="benefit_item d-flex flex-row align-items-center">
                                <div class="benefit_icon"><i class="fa fa-clock" aria-hidden="true"></i></div>
                                <div class="benefit_content">
                                    <h6>OPENING ALL WEEK</h6>
                                    <p>8AM - 09PM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- end benefits -->

        <%-include('../template_pages/footer_home.ejs')-%>



            <script>
                var day = document.getElementById('days')
                var h = document.getElementById('hours')
                var m = document.getElementById('minutes')
                var s = document.getElementById('sec')

                //calculate time in milliseconds
                var sec = 1000
                var min = sec * 60
                var hrs = min * 60
                var days = hrs * 24


                const down_time = new Date('03-24-2024').getTime()
                const interval = setInterval(() => {
                    function countdownTimer() {


                        var curr_time = new Date().getTime()

                        var difference = down_time - curr_time

                        day.innerText = formatter(Math.floor(difference / days))
                        h.innerText = formatter(Math.floor((difference % days) / hrs))
                        m.innerText = formatter(Math.floor((difference % hrs) / min))
                        s.innerText = formatter(Math.floor((difference % min) / sec))
                    }
                    function formatter(num) {
                        if (num < 10) {
                            return '0' + num
                        }
                        return num

                    }
                    if (difference0 = 0) {
                        clearInterval(interval)
                    }
                    countdownTimer()
                }, Infinity);

            </script>
</body>

</html>